Flask==2.3.2
langchain~=0.0.181
waitress==2.1.2
Requests~=2.31.0
pylibmagic~=0.4.0
beautifulsoup4~=4.12.2
tabulate
unstructured
selenium
flask_cors
Flask_Cors==3.0.10
faiss-cpu
openai
tiktoken











