<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Website</title>
  <link rel="stylesheet" href="static/exp_styles.css">
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <style>
    h1 {
      color: white;
    }
  </style>
</head>

<body>
  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>
  <header>
    <div class="logo" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <img src="static/logo.png" alt="Logo">
    </div>
    <h1 class="title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">My Certificates</h1>
    <div class="btn-container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

      <a href="/" class="btn" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"><i class="fas fa-home"></i>HomePage</a>
    </div>

  </header>
  <div class="container">
    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="experience-details">
        <a href="static/NUS.pdf" target="_blank"><h1>Data Analytics using Deep Learning, NUS Singapore</h1></a>
        <h3>Research-focused mastery of cutting-edge Deep Learning techniques for data analytics and visualization, attained from NUS Singapore.</h3>
        <ul>
        <li>Mastered cutting-edge Deep Learning techniques for research-focused data analysis.</li>
        <li>Skillfully preprocessed and cleaned diverse datasets.</li>
        <li>Created compelling data visualizations to communicate insights effectively.</li>
        <li>Proficient in industry-standard tools like TensorFlow.</li>
        <li>Expertise in optimizing and fine-tuning deep learning models for superior performance.</li>
        </ul>
      </div>
      <div class="company-image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <img src="static/nus_ss.png" alt="Brainlox Company Image">
      </div>
    </div>
    </div>

    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="company-image">
        <img src="static/hpe_ss.png" alt="NUS Company Image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      </div>
      <div class="experience-details" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <a href="static/HPE_cert.pdf" target="_blank"><h1>Hewlett Packard Enterprise Education Services, Deep Learning</h1></a>
        <h3>Comprehensive Deep Learning program empowering proficiency in advanced techniques and Azure integration, from Hewlett Packard Enterprise Education Services.</h3>
        <ul>
            <li>Mastered advanced Deep Learning techniques for data analysis and pattern recognition.</li>
            <li>Acquired proficiency in implementing neural networks, CNNs, and RNNs for complex problem-solving.</li>
            <li>Developed skills in preprocessing and optimizing data to improve model performance.</li>
            <li>Explored cutting-edge tools and frameworks for Deep Learning, including Azure.</li>
            <li>Successfully completed a comprehensive course on Azure, gaining expertise in cloud-based Deep Learning solutions.</li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="experience-details">
            <a href="https://coursera.org/share/f3f36a4fcfc7b4f879507aa683fa693b" target="_blank"><h1>Introduction to TensorFlow for Artificial Intelligence, Machine Learning, and Deep Learning</h1></a>
            <h3>Acquired expertise in TensorFlow for AI, ML, and DL, enabling efficient model implementation and optimization.</h3>
          <ul>
            <li>Mastered TensorFlow framework for building and deploying AI, ML, and DL models.</li>
            <li>Developed expertise in implementing neural networks and deep learning architectures.</li>
            <li>Acquired hands-on experience in training and optimizing models for optimal performance.</li>
            <li>Explored various applications of TensorFlow in AI, ML, and DL domains.</li>
            <li>Gained valuable insights into using TensorFlow for real-world data analysis and problem-solving.</li>
          </ul>
        </div>
        <div class="company-image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <img src="static/COURSERA_CERT.png" alt="Brainlox Company Image">
        </div>
      </div>
      </div>
</div>

  <footer>
    <!-- Your footer content here -->
  </footer>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>
