<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Website</title>
  <link rel="stylesheet" href="static/exp_styles.css">
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="logo" data-aos="fade-up">
      <img src="static/logo.png" alt="Logo">
    </div>
    <h1 class="title" data-aos="fade-up">My Experiences</h1>
  </header>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="container">
    <div class="experience" data-aos="fade-up">
      <div class="experience-details">
        <h3>Brainlox [March 2023 - Present]</h3>
        <ul>
          <li>Developed and implemented custom chatbots for sales and customer service using OpenAI, Langchain, and Azure services.</li>
          <li>Researched and explored the application of LLMs, OpenAI API, Langchain, and Azure services for marketing purposes.</li>
          <li>Conducted data analysis to identify effective strategies for driving customers to different channels.</li>
          <li>Utilized data analysis techniques to support sales efforts and optimize performance.</li>
          <li>Generated compelling marketing content using various AI tools.</li>
        </ul>
      </div>
      <div class="company-image" data-aos="fade-up">
        <img src="static/brainLox_logo.jpeg" alt="Brainlox Company Image">
      </div>
    </div>

    <div class="experience" data-aos="fade-up">
      <div class="company-image">
        <img src="static/NUS.png" alt="NUS Company Image" data-aos="fade-up">
      </div>
      <div class="experience-details" data-aos="fade-up">
        <h3>National University of Singapore (NUS) [December 2022]</h3>
        <p>Completed a comprehensive course related to data analytics and deep learning under reputed professors at NUS.</p>
      </div>
    </div>

    <div class="experience" data-aos="fade-up">
      <div class="experience-details">
        <h3>Hewlett Packard Enterprise (HPE) [December 2022]</h3>
        <p>Completed HPE seminars for Azure deployment and deployed a live project on Azure Cloud.</p>
      </div>
      <div class="company-image" data-aos="fade-up">
        <img src="static/HPE-logo.jpeg" alt="HPE Company Image">
      </div>
    </div>

    <div class="experience" data-aos="fade-up">
      <div class="company-image">
        <img src="static/vit.png" alt="AI Models for Market Segmentation Image" data-aos="fade-up">
      </div>
      <div class="experience-details" data-aos="fade-up">
        <h3>Using AI Models for Market Segmentation [August 2022 - September 2022]</h3>
        <p>Researched AI techniques that are currently being used to conduct market segmentation by businesses and compared algorithms including Biclustering, SKC, Kmeans algorithms to see how the results differ and develop a better algorithm.</p>
      </div>
    </div>
  </div>

  <footer>
    <!-- Your footer content here -->
  </footer>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>
