<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Website</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
</head>

<body>
  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="container">
    <header data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
      <img src="static/logo.png" alt="Logo" class="logo">
      <h1>Welcome to My Personal Website</h1>
      <p>Explore my experience, projects, skills, and certifications</p>
    </header>

    <main data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
      <div class="buttons">
        <a href="/chatbot" class="btn" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"><i class="fas fa-comments"></i>My Custom Chatbot</a>

        <a href="static/resume.pdf" class="btn" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"><i class="fas fa-download"></i>Download Resume</a>

       <a href="/experiences" class="btn" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"><i class="fas fa-briefcase"></i>Experiences</a>


       <a href="/projects" class="btn" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"><i class="fas fa-briefcase"></i>Projects</a>

        <a href="/skills" class="btn" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"><i class="fas fa-cogs"></i>Skills</a>
        
        <a href="certifications.html" class="btn" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"><i class="fas fa-certificate"></i>Certifications</a>
      </div>

      <section class="about" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <div class="about-content">
          <h2>About Me</h2>
          <p>I am Passionate about cutting-edge technologies and driven by a deep interest in large language models, AI, deep learning, and data science, I am an experienced professional. With expertise in developing custom chatbots, conducting AI-driven marketing research, and utilizing data analytics techniques, I am adept at leveraging advanced technologies to solve complex problems. My background includes comprehensive training in data analytics using deep learning at the prestigious National University of Singapore. I have also gained hands-on experience in implementing AI projects, ranging from stock market prediction to object detection, using TensorFlow, MobileNets, Keras, and OpenCV. With a strong problem-solving ability and a detail-oriented approach, I am enthusiastic about pushing the boundaries of AI and data science to drive innovation and make a meaningful impact in these fields.</p>
        </div>
        <div class="about-image">
          <img src="static/IMG_1453.png" alt="Profile Image">
        </div>
      </section>
    </main>

    <footer data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
      <p>&copy; Aryan Pillai. All rights reserved.</p>
    </footer>
  </div>

  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>
