<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Website</title>
  <link rel="stylesheet" href="static/exp_styles.css">
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>
  <header>
    <!-- <div class="logo" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <img src="static/logo.png" alt="Logo">
    </div> -->
    <h1 class="title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">My Projects</h1>
    <div class="btn-container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

      <a href="/" class="btn" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"><i class="fas fa-home"></i>HomePage</a>

      <a href="https://github.com/aryan619348" class="btn" target="_blank"><i class="fab fa-github"></i>My GitHub</a>
    </div>

  </header>
  <div class="container">
    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="experience-details">
        <h1>Eduguide - Official ChatGPT4 Plugin (Verified by OpenAI)</h1>
        <ul>
          <li>Please visit ChatGPT4 plugin store to try out the plugin in live environment</li>
          <li>Developed and implemented the Eduguide plugin, a ChatGPT4-based tool for finding the latest information on college admissions.</li>
          <li>Utilized OpenAI API, Langchain, and Azure services to create an efficient and accurate information retrieval system.</li>
        </ul>
      </div>
      <div class="company-image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <img src="static/openai.png" alt="Brainlox Company Image">
      </div>
    </div>
    </div>

    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="company-image">
        <img src="static/pdfgpt.png" alt="NUS Company Image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      </div>
      <div class="experience-details" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <h1><a href="https://pdfgptaryan.azurewebsites.net"  style="color: grey;">PDF GPT - Conversational Chatbot for PDF Documents</a></h1>
        <ul>
            <li>Developed a PDF GPT project with the ability to create custom chatbots for any PDF document.</li>
            <li>Project Link: <a href="https://pdfgptaryan.azurewebsites.net" style="color: grey;">PDF GPT</a></li>
            <li>Implemented an interactive conversational interface for users to interact with PDF documents, particularly Google Docs, using ChatGPT4.</li>
            <li>Created an Unverified plugin that can be directly used on ChatGPT4 to facilitate conversations with the document.</li>
            <li>Leveraged OpenAI API, Langchain, and Azure services to build and deploy the model for efficient and reliable performance.</li>
          </ul>
      </div>
    </div>

    <div class="container">
      <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="experience-details">
          <h1>Stock Market Price Prediction</h1>
          <ul>
            <li>Developed a robust LSTM (Long Short-Term Memory) model and a CNN-LSTM (Convolutional Neural Network-LSTM) model to accurately forecast future prices of the NIFTY stock index.</li>
            <li>Leveraged the power of Azure Cloud Services to deploy the advanced prediction models, ensuring efficient and scalable performance.</li>
            <li>Incorporated cutting-edge machine learning techniques to analyze historical stock data, enabling accurate predictions of market trends and fluctuations.</li>
            <li>Designed an intuitive and user-friendly interface on my personal website, providing real-time insights and predictions for the NIFTY stock index.</li>
          </ul>
        </div>
        <div class="company-image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <img src="static/auzre.png" alt="Brainlox Company Image">
        </div>
      </div>
      </div>

    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="company-image">
        <img src="static/ppe_detection.jpeg" alt="AI Models for Market Segmentation Image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      </div>
      <div class="experience-details" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <h1>PPE detection Model</h1>
        <ul>
          <li>Developed models using TensorFlow, MobileNets, Keras, and OpenCV to accurately detect Personal Protective Equipment (PPE) kits.</li>
          <li>Utilized advanced deep learning techniques and computer vision algorithms to analyze images and identify the presence of PPE kits.</li>
          <li>Implemented Flask API for seamless deployment, allowing easy integration of the PPE detection models into various applications and systems.</li>
        </ul>
      </div>
    </div>
    

    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="experience-details">
        <h1>Object Detection App</h1>
        <ul>
          <li>Created an Android app for object detection using TensorFlow Lite.</li>
          <li>Utilized the power of TensorFlow Lite, a lightweight machine learning framework, to efficiently perform real-time object detection on mobile devices.</li>
        </ul>
      </div>
      <div class="company-image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <img src="static/obj_detection_cat.gif" alt="HPE Company Image">
      </div>
    </div>
  </div>

  <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="company-image">
      <img src="static/MNIST_GAN.png" alt="AI Models for Market Segmentation Image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    </div>
    <div class="experience-details" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <h1>MNIST GAN</h1>
      <ul>
          <li>Developed a Generative Adversarial Network (GAN) to generate computer-generated handwritten digits.</li>
          <li>Utilized the popular MNIST dataset, which consists of a large collection of handwritten digits, as the training data for the GAN.</li>
      </ul>
    </div>
  </div>

  <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="experience-details">
      <h1>Handwritten Equation Solver</h1>
      <ul>
        <li>Developed a web application utilizing TensorFlow.js to solve handwritten polynomial equations.</li>
        <li>Implemented a user-friendly interface that allows users to input their handwritten polynomial equations.</li>
        <li>Leveraged the power of TensorFlow.js, a JavaScript library for machine learning, to process and analyze the handwritten equations.</li>
        <li>Utilized advanced deep learning techniques to recognize and interpret the handwritten equations accurately.</li>
        <li>Generated reliable results by applying mathematical algorithms and computations to solve the polynomial equations.</li>
      </ul>
    </div>
    <div class="company-image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <img src="static/equation.gif" alt="HPE Company Image">
    </div>
  </div>
</div>

<div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <div class="company-image">
    <img src="static/imdb.png" alt="AI Models for Market Segmentation Image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  </div>
  <div class="experience-details" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <h1>IMDB Reviews NLP</h1>
    <ul>
      <li>Explored the IMDB dataset, which contains a collection of movie reviews, to perform Natural Language Processing (NLP) tasks.</li>
      <li>Created an "Embedding" for the reviews, where words and associated words are clustered as vectors in a multi-dimensional space.</li>
      <li>Utilized advanced NLP techniques, such as word embeddings, to represent the semantic meaning of words in a numerical format.</li>
      <li>Categorized the reviews as positive and negative sentiments based on their overall sentiment or sentiment polarity.</li>
      <li>Implemented machine learning or deep learning algorithms to train models that can classify the sentiment of movie reviews accurately.</li>
    </ul>
  </div>
</div>

  <footer>
    <!-- Your footer content here -->
  </footer>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>
