<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Personal Website</title>
  <link rel="stylesheet" href="static/exp_styles.css">
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="logo" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <img src="static/logo.png" alt="Logo">
    </div>
    <h1 class="title" data-aos="fade-up" data-aos-anchor-placement="top-bottom">My Projects</h1>
  </header>
  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="glowing">
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
  </div>

  <div class="container">
    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="experience-details">
        <h2>Eduguide - Official ChatGPT4 Plugin (Verified by OpenAI)</h2>
        <ul>
          <li>Developed and implemented the Eduguide plugin, a ChatGPT4-based tool for finding the latest information on college admissions.</li>
          <li>Utilized OpenAI API, Langchain, and Azure services to create an efficient and accurate information retrieval system.</li>
        </ul>
      </div>
      <div class="company-image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <img src="static/brainLox_logo.jpeg" alt="Brainlox Company Image">
      </div>
    </div>

    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="company-image">
        <img src="static/NUS.png" alt="NUS Company Image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      </div>
      <div class="experience-details" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <h2>PDF GPT - Conversational Chatbot for PDF Documents</h2>
        <ul>
            <li>Developed a PDF GPT project with the ability to create custom chatbots for any PDF document.</li>
            <li>Project Link: <a href="https://pdfgptaryan.azurewebsites.net">PDF GPT</a>/</li>
            <li>Implemented an interactive conversational interface for users to interact with PDF documents, particularly Google Docs, using ChatGPT4.</li>
            <li>Created an Unverified plugin that can be directly used on ChatGPT4 to facilitate conversations with the document.</li>
            <li>Leveraged OpenAI API, Langchain, and Azure services to build and deploy the model for efficient and reliable performance.</li>
          </ul>
      </div>
    </div>

    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="experience-details">
        <h2>Hewlett Packard Enterprise (HPE) [December 2022]</h2>
        <h3>Deep Learning with HPE</h3>
        <p>Completed HPE seminars for Azure deployment and deployed a live project on Azure Cloud.</p>
      </div>
      <div class="company-image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <img src="static/HPE-logo.jpeg" alt="HPE Company Image">
      </div>
    </div>

    <div class="experience" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="company-image">
        <img src="static/vit.png" alt="AI Models for Market Segmentation Image" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      </div>
      <div class="experience-details" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <h3>Using AI Models for Market Segmentation [August 2022 - September 2022]</h3>
        <p>Researched AI techniques that are currently being used to conduct market segmentation by businesses and compared algorithms including Biclustering, SKC, Kmeans algorithms to see how the results differ and develop a better algorithm.</p>
      </div>
    </div>
  </div>

  <footer>
    <!-- Your footer content here -->
  </footer>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>
